<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
    <meta name="renderer" content="webkit">
    <!--国产浏览器高速模式-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="穷在闹市"/>
    <!-- 作者 -->
    <meta name="revised" content="穷在闹市.v3, 2019/05/01"/>
    <!-- 定义页面的最新版本 -->
    <meta name="description" content="网站简介"/>
    <!-- 网站简介 -->
    <meta name="keywords" content="搜索关键字，以半角英文逗号隔开"/>
    <title>Add Goods</title>

    <!-- 公共样式 开始 -->
    <link rel="stylesheet" type="text/css" href="../../../../static/admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="../../../../static/admin/css/iconfont.css">
    <script type="text/javascript" src="../../../../static/admin/framework/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../../static/admin/layui/css/layui.css">
    <script type="text/javascript" src="../../../../static/admin/layui/layui.js"></script>
    <!-- 滚动条插件 -->
    <link rel="stylesheet" type="text/css" href="../../../../static/admin/css/jquery.mCustomScrollbar.css">
    <script src="../../../../static/admin/framework/jquery-ui-1.10.4.min.js"></script>
    <script src="../../../../static/admin/framework/jquery.mousewheel.min.js"></script>
    <script src="../../../../static/admin/framework/jquery.mCustomScrollbar.min.js"></script>
    <script src="../../../../static/admin/framework/cframe.js"></script><!-- 仅供所有子页面使用 -->
    <!-- Bootstrap Js -->
    <script src="../../../../static/dependencies/bootstrap/js/bootstrap.min.js"></script>
    <!--bootstrap-file-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">
    <link href="../../../../static/bootstrap-fileinput/css/fileinput.css" media="all" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
    <link href="../../../../static/bootstrap-fileinput/themes/explorer-fas/theme.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="../../../../static/bootstrap-fileinput/js/plugins/piexif.js" type="text/javascript"></script>
    <script src="../../../../static/bootstrap-fileinput/js/plugins/sortable.js" type="text/javascript"></script>
    <script src="../../../../static/bootstrap-fileinput/js/fileinput.js" type="text/javascript"></script>
    <script src="../../../../static/bootstrap-fileinput/js/locales/fr.js" type="text/javascript"></script>
    <script src="../../../../static/bootstrap-fileinput/js/locales/es.js" type="text/javascript"></script>
    <script src="../../../../static/bootstrap-fileinput/themes/fas/theme.js" type="text/javascript"></script>
    <script src="../../../../static/bootstrap-fileinput/themes/explorer-fas/theme.js" type="text/javascript"></script>
    <!-- 公共样式 结束 -->

    <style>
        .layui-form-label {
            width: 100px;
        }

        .layui-input-block {
            margin-left: 130px;
        }

        .layui-form {
            margin-right: 30%;
        }
    </style>

</head>

<body>
<div class="cBody">
    <form id="addForm" class="layui-form" th:action="@{/admin/product/productAdd}" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">Name</label>
            <div class="layui-input-block">
                <input type="text" name="name" required lay-verify="required" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Price</label>
            <div class="layui-input-block">
                <input type="text" name="company" required lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Stock</label>
            <div class="layui-input-block">
                <input type="text" name="price" required lay-verify="required|number" autocomplete="off"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">Description</label>
            <div class="layui-input-block">
                <textarea name="desc" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Stock</label>
            <div class="layui-input-inline">
                <select name="provid" id="provid" lay-filter="provid">
                    <option value="0">In stock</option>
                    <option value="1">Out of stock</option>
                    <option value="2">Running low</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Suppliers</label>
            <div class="layui-input-inline">
                <select name="provid" id="provid" lay-filter="provid">
                    <option value="">Select a supplier</option>
                    <option th:each="contact_name:${all_contact_name}" th:text="${contact_name}"
                            th:value="${contact_name}"></option>
                </select>
            </div>
        </div>


    <div class="post-section post-img">

        <div>
            <div class="file-loading">
                <input id="file-0c" name="file" class="myfile" type="file" multiple data-min-file-count="1" data-theme="fas" th:multiple="multiple">
            </div>
            <hr>

            <div class="img-upload-instruction alert alert-danger">
                <p>Recommended image size to (870x493)px</p>
                <p>Image maximum size 3 MB.</p>
                <p>Allowed image type (png, jpg, jpeg).</p>
                <p>You can upload up to 5 images.</p>
            </div>
            <hr>
        </div>

    </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="submitBut">立即提交</button>
                <button type="submit">submit</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
<!--    <script>-->
<!--        layui.use(['upload', 'form'], function () {-->
<!--            var form = layui.form;-->
<!--            var upload = layui.upload;-->
<!--            var layer = layui.layer;-->
<!--            //监听提交-->
<!--            form.on('submit(submitBut)', function (data) {-->
<!--                return false;-->
<!--            });-->
<!--            // form.verify({-->
<!--            //     //数组的两个值分别代表：[正则匹配、匹配不符时的提示文字]-->
<!--            //     ZHCheck: [-->
<!--            //         /^[\u0391-\uFFE5]+$/-->
<!--            //         , '只允许输入中文'-->
<!--            //     ]-->
<!--            // });-->
<!--            //拖拽上传-->
<!--            upload.render({-->
<!--                elem: '#goodsPic',-->
<!--                url: '/upload/',-->
<!--                done: function (res) {-->
<!--                    console.log(res)-->
<!--                }-->
<!--            });-->
<!--        });-->
<!--    </script>-->

    <script>
        $(".myfile").fileinput({
            uploadUrl:"/admin/product/uploadFile", //接受请求地址
            uploadAsync : true, //默认异步上传
            showUpload : false, //是否显示上传按钮,跟随文本框的那个
            showRemove : false, //显示移除按钮,跟随文本框的那个
            showCaption : true,//是否显示标题,就是那个文本框
            showPreview : true, //是否显示预览,不写默认为true
            dropZoneEnabled : false,//是否显示拖拽区域，默认不写为true，但是会占用很大区域
            //minImageWidth: 50, //图片的最小宽度
            //minImageHeight: 50,//图片的最小高度
            //maxImageWidth: 1000,//图片的最大宽度
            //maxImageHeight: 1000,//图片的最大高度
            //maxFileSize: 0,//单位为kb，如果为0表示不限制文件大小
            //minFileCount: 0,
            maxFileCount : 5, //表示允许同时上传的最大文件个数
            enctype : 'multipart/form-data',
            validateInitialCount : true,
            previewFileIcon : "<i class='glyphicon glyphicon-king'></i>",
            msgFilesTooMany : "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
            allowedFileTypes : [ 'image' ],//配置允许文件上传的类型
            allowedPreviewTypes : [ 'image' ],//配置所有的被预览文件类型
            allowedPreviewMimeTypes : [ 'jpg', 'png', 'gif' ],//控制被预览的所有mime类型
            // language : 'en'
        })
        //异步上传返回结果处理
        $('.myfile').on('fileerror', function(event, data, msg) {
            console.log("fileerror");
            console.log(data);
        });
        // //异步上传返回结果处理
        // $(".myfile").on("fileuploaded", function(event, data, previewId, index) {
        //     console.log("fileuploaded");
        //     var ref = $(this).attr("data-ref");
        //     $("input[name='" + ref + "']").val(data.response.url);
        //
        // });
        //
        // //上传前
        // $('.myfile').on('filepreupload', function(event, data, previewId, index) {
        //     console.log("filepreupload");
        // });

    </script>


</div>
</body>

</html>