<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
    <meta name="renderer" content="webkit">
    <!--国产浏览器高速模式-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="穷在闹市"/>
    <!-- 作者 -->
    <meta name="revised" content="穷在闹市.v3, 2019/05/01"/>
    <!-- 定义页面的最新版本 -->
    <meta name="description" content="网站简介"/>
    <!-- 网站简介 -->
    <meta name="keywords" content="搜索关键字，以半角英文逗号隔开"/>
    <title>Add Goods</title>

    <!-- 公共样式 开始 -->
    <link rel="stylesheet" type="text/css" href="../../../../static/admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="../../../../static/admin/css/iconfont.css">
    <script type="text/javascript" src="../../../../static/admin/framework/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../../static/admin/layui/css/layui.css">
    <script type="text/javascript" src="../../../../static/admin/layui/layui.js"></script>
    <!-- 滚动条插件 -->
    <link rel="stylesheet" type="text/css" href="../../../../static/admin/css/jquery.mCustomScrollbar.css">
    <script src="../../../../static/admin/framework/jquery-ui-1.10.4.min.js"></script>
    <script src="../../../../static/admin/framework/jquery.mousewheel.min.js"></script>
    <script src="../../../../static/admin/framework/jquery.mCustomScrollbar.min.js"></script>
    <script src="../../../../static/admin/framework/cframe.js"></script><!-- 仅供所有子页面使用 -->
    <!-- Bootstrap Js -->
    <script src="../../../../static/dependencies/bootstrap/js/bootstrap.min.js"></script>
    <!--bootstrap-file-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">
    <link href="../../../../static/bootstrap-fileinput/css/fileinput.css" media="all" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
    <link href="../../../../static/bootstrap-fileinput/themes/explorer-fas/theme.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="../../../../static/bootstrap-fileinput/js/plugins/piexif.js" type="text/javascript"></script>
    <script src="../../../../static/bootstrap-fileinput/js/plugins/sortable.js" type="text/javascript"></script>
    <script src="../../../../static/bootstrap-fileinput/js/fileinput.js" type="text/javascript"></script>
    <script src="../../../../static/bootstrap-fileinput/js/locales/fr.js" type="text/javascript"></script>
    <script src="../../../../static/bootstrap-fileinput/js/locales/es.js" type="text/javascript"></script>
    <script src="../../../../static/bootstrap-fileinput/themes/fas/theme.js" type="text/javascript"></script>
    <script src="../../../../static/bootstrap-fileinput/themes/explorer-fas/theme.js" type="text/javascript"></script>
    <!-- 公共样式 结束 -->

    <style>
        .layui-form-label {
            width: 100px;
        }

        .layui-input-block {
            margin-left: 130px;
        }

        .layui-form {
            margin-right: 30%;
        }
    </style>

</head>

<body>
<div class="cBody">
    <form id="addForm" class="layui-form" th:action="@{/admin/product/productAdd}" method="post">
<!--         product_id-->
        <input type="hidden" name="product_id" id="product_id" th:value="${product_id}">

        <div class="layui-form-item">
            <label class="layui-form-label">Name</label>
            <div class="layui-input-block">
                <input type="text" name="name" required lay-verify="required" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Price</label>
            <div class="layui-input-block">
                <input type="text" name="price" required lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Stock</label>
            <div class="layui-input-block">
                <input type="text" name="stock" required lay-verify="required|number" autocomplete="off"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">Description</label>
            <div class="layui-input-block">
                <textarea name="description" class="layui-textarea"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">Suppliers</label>
            <div class="layui-input-inline">
                <select name="supplier_name" id="supplier" lay-filter="supplier">
                    <option value="">Select a supplier</option>
                    <option th:each="contact_name:${all_contact_name}" th:text="${contact_name}"
                            th:value="${contact_name}"></option>
                </select>
            </div>
        </div>
<!--        <div class="layui-form-item">-->
<!--            <label class="layui-form-label">商品图片</label>-->
<!--            <div class="layui-upload-drag" id="goodsPic">-->
<!--                <i class="layui-icon"></i>-->
<!--                <p>点击上传，或将文件拖拽到此处</p>-->
<!--            </div>-->
<!--        </div>-->

        <input type="hidden" name="images" class="image">
        <div class="layui-form-item">
            <label class="layui-form-label ">Pictures:</label>
            <div class="layui-upload">
                <button type="button" class="layui-btn" id="test2">多图片上传</button>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                    预览图：
                    <div class="layui-upload-list" id="demo2"></div>
                </blockquote>
            </div>
        </div>


<!--        <div class="layui-form-item">-->
<!--            <label class="layui-form-label">Pictures</label>-->

<!--            <div class="post-section post-img">-->
<!--                <div class="file-loading">-->
<!--                    <input id="file-0c" name="file" class="myfile" type="file" multiple data-min-file-count="1" data-theme="fas" th:multiple="multiple">-->
<!--                </div>-->
<!--                <hr>-->
<!--                <div class="img-upload-instruction alert alert-danger">-->
<!--&lt;!&ndash;                    <p>Recommended image size to (870x493)px</p>&ndash;&gt;-->
<!--&lt;!&ndash;                    <p>Image maximum size 3 MB.</p>&ndash;&gt;-->
<!--                    <p>Allowed image type (png, jpg, jpeg).</p>-->
<!--                    <p>You can upload up to 5 images.</p>-->
<!--                </div>-->
<!--                <hr>-->
<!--            </div>-->
<!--        </div>-->


        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn layui-btn-primary">Submit</button>
<!--                <button type="submit">submit</button>-->
                <button type="reset" class="layui-btn layui-btn-primary">Reset</button>
            </div>
        </div>
    </form>
    <script>
        layui.use(['form'], function () {
            var form = layui.form;
            var upload = layui.upload;
            var layer = layui.layer;
            //监听提交
            form.on('submit(submitBut)', function (data) {
                return false;
            });
            form.verify({
                //数组的两个值分别代表：[正则匹配、匹配不符时的提示文字]
                ZHCheck: [
                    /^[\u0391-\uFFE5]+$/
                    , '只允许输入中文'
                ]
            });
            //拖拽上传
            upload.render({
                elem: '#goodsPic',
                url: '/upload/',
                done: function (res) {
                    console.log(res)
                }
            });
        });
    </script>


<!--    <script>-->
<!--        layui.use('upload', function(){-->
<!--            var $ = layui.jquery-->
<!--                ,upload = layui.upload;-->

<!--            //普通图片上传-->
<!--            var uploadInst = upload.render({-->
<!--                elem: '#test1'-->
<!--                ,url: '/upload/'-->
<!--                ,accept:'images'-->
<!--                ,size:50000-->
<!--                ,multiple: true-->
<!--                ,before: function(obj){-->
<!--                    //预读本地文件示例，不支持ie8-->
<!--                    obj.preview(function(index, file, result){-->
<!--                        $('#demo1').append('<img src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img">')-->
<!--                    });-->
<!--                }-->
<!--                ,done: function(res){-->
<!--                    //如果上传失败-->
<!--                    if(res.code > 0){-->
<!--                        return layer.msg('Upload failed');-->
<!--                    }-->
<!--                    //上传成功-->
<!--                    var demoText = $('#demoText');-->
<!--                    demoText.html('<span style="color: #4cae4c;">Upload Successful</span>');-->

<!--                    var fileupload = $(".image");-->
<!--                    fileupload.attr("value",res.data.src);-->
<!--                    console.log(fileupload.attr("value"));-->
<!--                }-->
<!--                ,error: function(){-->
<!--                    //演示失败状态，并实现重传-->
<!--                    var demoText = $('#demoText');-->
<!--                    demoText.html('<span style="color: #FF5722;">Upload failed</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');-->
<!--                    demoText.find('.demo-reload').on('click', function(){-->
<!--                        uploadInst.upload();-->
<!--                    });-->
<!--                }-->
<!--            });-->



<!--        });-->
<!--    </script>-->
    <script>
        layui.use('upload', function(){
            var $ = layui.jquery
                ,upload = layui.upload;

            //普通图片上传
            var uploadInst =
                upload.render({
                elem: '#test1'
                ,url: 'https://httpbin.org/post' //改成您自己的上传接口
                ,before: function(obj){
                    //预读本地文件示例，不支持ie8
                    obj.preview(function(index, file, result){
                        $('#demo1').attr('src', result); //图片链接（base64）
                    });
                }
                ,done: function(res){
                    //如果上传失败
                    if(res.code > 0){
                        return layer.msg('上传失败');
                    }
                    //上传成功
                }
                ,error: function(){
                    //演示失败状态，并实现重传
                    var demoText = $('#demoText');
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                    demoText.find('.demo-reload').on('click', function(){
                        uploadInst.upload();
                    });
                }
            });

            //多图片上传
            upload.render({
                elem: '#test2'
                ,url: '/upload-picture' //改成您自己的上传接口
                ,multiple: true
                ,before: function(obj){
                    //预读本地文件示例，不支持ie8
                    obj.preview(function(index, file, result){
                        $('#demo2').append('<img src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img">')
                    });
                    // send product_id used to save imag
                    var product_id = $("#product_id").val();
                    $.ajax({
                        type: "POST",
                        url: "/product/getProduct_id",
                        dataType: "json",
                        data:{'product_id':JSON.stringify(product_id)}
                    })
                }
                ,done: function(res){
                    //如果上传失败
                    if(res.code > 0){
                        return layer.msg('Upload failed');
                    }

                    //上传成功
                }
            });

        });
    </script>

</div>
</body>

</html>